header {
  padding-block: 32px;
  background-color: var(--surface-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  font: var(--text);
}

#profile {
  display: flex;
  gap: 32px;
}

#profile > div {
  max-width: 384px;
}

#profile-pic img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50%;
}

#profile h1 {
  font: var(--text-lg);
  font-weight: 700;
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}